body {
    text-align: center;
    background-color: yellow;
}

img {
    height: 300px;
    width: 300px;
}
.box {
    display: flex;
}
.pic {
    margin-right: 50px;
    margin-left: 50px;
}
